*{
    margin: 0;
  
}




.body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 0.4rem;
}
.header{
width: 46rem;
height: 8rem;
background-color: var(--second-color);
}
.box-main{
    width: 46rem;
    height: 14rem;
    background-color: var(--main-color);
    
}

.box{
    width: 34.7rem;
    height: 6.6rem;
    margin-top: 0.9rem;
    margin-bottom: 0.3rem;
    background-color: var(--main-color);
}
.box-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 0.2rem;
}

.box-container-column{
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.box-column{
    width: 17.2rem;
    height: 6.6rem;
    margin-top: 0.9rem;
    margin-bottom: 0.3rem;
    background-color: var(--main-color);
}

.footer{
    width: 46rem;
    height: 4.9rem;
    margin-top: 0.9rem;
    margin-bottom: 0.3rem;
    background-color: var(--main-color);
}
:root{
    --main-color: #AB2849;
    --second-color: #93B5C9;
}